@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  text-decoration: none;
  --mainColor: #29335c;
  --mainColorLight: #6c7fcd;
  --secondaryColor: #db2b39;
  --textColor: #eee;
  /* background-color: var(--mainColorLight); */
}
.app {
  background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  /* background-color: black; */
  background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  color: var(--textColor);
}

nav a {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.3rem;
}
h3 {
  color: white;
  font-size: 1.7rem;
  text-shadow: 2px 3px black;

}

nav a:hover {
  color: var(--secondaryColor);
}

header .navBtn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .navBtn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
    /* background-color: var(--mainColor); */
    background: linear-gradient(
      0deg,
      rgba(195, 34, 34, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

/* .heading{
  background-color: var(white);
} */

.mainImage {
  width: 150px;
  height: 120px;
}

.main {
  background-color: var(white);
  /* height: 550px; */
  min-height: calc(100vh - 34px);
}

.homePage {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 24px 0;
  background: transparent;
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,34,34,1) 100%); */
  /* background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(0,0,0,1) 100%); */
}

.heading {
  text-shadow: white 1px 0px 10px;
  color: white;
  text-align: center;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}
.card {
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  background-color: red;
  margin: 0 20px;
  color: var(--textColor);
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2.5px 1px rgba(0, 0, 0, 0.3);
  height: 120px;
  border-radius: 6;
  border-width: 1;
  border-color: black;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
}
.stockCard {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 12px;
  height: 200px;
  background-color: red;
  margin: 0 20px;
  color: var(--textColor);
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2.5px 1px rgba(0, 0, 0, 0.3);
  height: 160px;
  border-radius: 6;
  border-width: 1;
  border-color: black;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
}
.card :p {
  font-size: 12px;
}
.card:hover {
  opacity: 0.7;
  /* background-color: var(--secondaryColor); */
}


.aboutContainer {
  flex: 1;
  padding: 0 18px;
  margin: 0 auto;
  text-align: center;
  /* background: transparent; */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,34,34,1) 100%); */
  /* background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(0,0,0,1) 100%); */
}
.table {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 32px;
}

.donated {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.formContainer{
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;

  
 
}
.bloodForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  font-size: 24;
  /* font-weight: bold; */


}

.formItem{
  display: flex;

  
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  align-items: center;
  color: white;
  font-weight: bold;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(195, 34, 34, 1) 100%
  );
}

/* 
.navbar{

  display: flex;
  flex-direction: column;

  height: 70px;
  color: black;
  background-color: #ffa39e;
  text-decoration: none;

}

.logo{
  color: red;
  justify-content: center;
}

h2{
  color: red;
}

.items{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}

.item{
  flex: 1;
  border-radius: 6;
  border-width: 1;
  background-color: aqua;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
} */
