@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  text-decoration: none;
  --mainColor: #29335c;
  --mainColorLight: #6c7fcd;
  --secondaryColor: #db2b39;
  --textColor: #eee;
  /* background-color: var(--mainColorLight); */
}
.app {
  background-color: "white";

  /* background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); */
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: #e75050; */
  background-image: linear-gradient(
    to bottom,
    #d93434,
    #e96063,
    #f3888f,
    #f8aeb8,
    #f8d4db
  );
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  /* background-color: black; */
  background: transparent;
  /* background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); */

  color: var(--textColor);
}


nav a {
  margin: 0 1rem;
  color: var(--textColor);
  /* color: black; */
  font-weight: bold;
  text-decoration: none;
  /* font-size: 1.3rem; */
  font-size: 22px;
  font-style: inherit;
  display: inline-block;

  /* height: 40px; */
  border: 2px solid;
  border-color: white; /* red top, green right, blue bottom and yellow left */
  border-radius: 15px;
  background-color: transparent;
  padding: 6px;
}
h3:hover {
  color: #fd5c63;
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px white;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
h3 {
  color: white;
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
}

nav a:hover {
  color: black;
  font-weight: bold;
  font-size: 22px;

  background-color: #fd5c63;
  /* color: var(--secondaryColor); */
}

header .navBtn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .navBtn {
    visibility: visible;
    opacity: 1;
    color: black;
  }

  header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
    /* background-color: var(--mainColor); */
    background-image: linear-gradient(
      270deg,
      hsl(0deg 0% 100%) 0%,
      hsl(0deg 66% 66%) 29%,
      hsl(0deg 59% 50%) 43%,
      hsl(0deg 59% 50%) 57%,
      hsl(0deg 66% 66%) 71%,
      hsl(0deg 0% 100%) 100%
    );
    color: black;
    transition: 1s;
    transform: translateY(-100vh);
    position: fixed; /* Add this line */
    z-index: 999; /* Add this line */
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
    color: black;
  }

  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
    margin: 0 0 20px;
  }
}

@media only screen and (max-width: 480px) {
  .formContainer {
    width: 100%;
    padding: 0 16px;
  }

  .bloodForm .ant-row {
    justify-content: center;
  }

  .bloodForm .ant-col {
    width: 100%;
  }
}

/* .heading{
  background-color: var(white);
} */

.mainImage {
  width: 150px;
  height: 120px;
}

.main {
  background-color: var(white);
  /* height: 550px; */
  min-height: calc(100vh - 34px);
}

.homePage {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 24px 0;
  background: transparent;
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,34,34,1) 100%); */
  /* background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(0,0,0,1) 100%); */
}

.heading {
  text-shadow: white 1px 0px 10px;
  color: white;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;
}

.card {
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 57, 57);
  margin: 10px;
  color: var(--textColor);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2.5px 1px rgba(0, 0, 0, 0.3);
  height: 100px;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
  flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage as needed */
}

@media (max-width: 768px) {
  .card {
    height: 80px;
    font-size: 18px;
  }
  .stockCard {
    height: 80px;
    font-size: 18px;
  }
  .table {
    table-layout: fixed; /* Fix the table layout */
  }
  .table th,
  .table td {
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 100px; /* Limit the maximum width of table cells */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
  }
}
.stockCard {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 12px;
  height: 200px;
  background-color: rgb(255, 57, 57);
  margin: 0 20px;
  color: var(--textColor);
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2.5px 1px rgba(0, 0, 0, 0.3);
  height: 160px;
  border-radius: 6;
  border-width: 1;
  border-color: black;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
}
.card :p {
  font-size: 12px;
}
.card:hover {
  opacity: 0.7;
  /* background-color: var(--secondaryColor); */
}

.aboutContainer {
  flex: 1;
  padding: 0 18px;
  margin: 0 auto;
  text-align: center;
  /* background: transparent; */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,34,34,1) 100%); */
  /* background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(0,0,0,1) 100%); */
}
.table {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 32px;
  overflow-x: auto; /* Add horizontal scrolling for small screens */
}

.donated {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.formContainer {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.authContainer {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.bloodForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  font-size: 24;
  /* font-weight: bold; */
}

.formItem {
  display: flex;
}

.footer {
  position: relative;
  left: 0;
  font-size: 18px;
  text-shadow: white 1px 2px;

  bottom: 0;
  right: 0;
  text-align: center;
  align-items: center;
  color: #000000;
  font-weight: bold;
  background-color: transparent;
  /* background-image: linear-gradient(
    270deg,
    hsl(0deg 0% 100%) 0%,
    hsl(0deg 66% 66%) 29%,
    hsl(0deg 59% 50%) 43%,
    hsl(0deg 59% 50%) 57%,
    hsl(0deg 66% 66%) 71%,
    hsl(0deg 0% 100%) 100%
  ); */
  /* background-color: white; */
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(195, 34, 34, 1) 100%
  ); */
}

/* 
.navbar{

  display: flex;
  flex-direction: column;

  height: 70px;
  color: black;
  background-color: #ffa39e;
  text-decoration: none;

}

.logo{
  color: red;
  justify-content: center;
}

h2{
  color: red;
}

.items{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}

.item{
  flex: 1;
  border-radius: 6;
  border-width: 1;
  background-color: aqua;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
} */
