@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  text-decoration: none;
  --mainColor: #29335c;
  --mainColorLight: #6c7fcd;
  --secondaryColor: #db2b39;
  --textColor: #eee;
  /* background-color: var(--mainColorLight); */
}
.app {
  background-color: "#a91101";

  /* background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); */
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: #e75050; */

  /* background-image: linear-gradient(
    to bottom,
    #a91101,
    #a91101,
    #a91101,
    #a91101,
    #a91101
  ); */
  background-image: url("./assets/bgBlood.jpg");
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;

  /* background-color: black; */
  /* width: 1400px; */
  background: transparent;
  /* background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); */
  /* border-bottom: 1px solid white; */
  box-shadow: 5px 1px 5px white;
  color: var(--textColor);
}

nav a {
  margin: 0 2rem;
  color: white;
  /* color: black; */

  font-weight: bold;
  text-decoration: none;
  /* font-size: 1.3rem; */
  font-size: 22px;
  font-style: inherit;
  display: inline-block;

  /* height: 40px; */

  background-color: transparent;
  padding: 6px;
}
h3:hover {
  color: #fd5c63;
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px white;
  /* background-color: rgb(255, 255, 255); */
  /* border-radius: 5px; */
}
h3 {
  color: white;
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
}

nav a:hover {
  color: white;
  font-weight: bold;
  font-size: 22px;

  background-color: #fd5c63;
  /* color: var(--secondaryColor); */
}

header .navBtn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.radioGroup {
  display: "grid";
  flex-direction: "column";
  align-items: "center";
  justify-content: "flex-start";
}

.authContainer {
  display: grid;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  background-color: whitesmoke;
  border-radius: 10%;
  border: 1px solid black;
  padding: 24px;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
}

@media only screen and (max-width: 1024px) {
  header .navBtn {
    visibility: visible;
    opacity: 1;
    color: black;
  }

  header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* background-color: var(--mainColor); */
    background-image: linear-gradient(
      270deg,
      hsl(0deg 0% 100%) 0%,
      hsl(0deg 66% 66%) 29%,
      hsl(0deg 59% 50%) 43%,
      hsl(0deg 59% 50%) 57%,
      hsl(0deg 66% 66%) 71%,
      hsl(0deg 0% 100%) 100%
    );
    color: black;
    transition: 1s;
    transform: translateY(-100vh);
    position: absolute; /* Add this line */
    z-index: 999; /* Add this line */
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
    color: black;
  }

  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
    margin: 0 0 20px;
  }
  .authContainer {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    background-color: whitesmoke;
    border-radius: 10%;
    border: 1px solid black;
    padding: 36px;
  }
  .prfCont{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .formContainer {
    width: 100%;
    padding: 16px;
    margin-bottom: 100px;
  }

  .bloodForm .ant-row {
    justify-content: center;
  }

  .bloodForm .ant-col {
    width: 100%;
  }
  .authContainer {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    background-color: white;
  }

  .calendar-container {
    width: 90%;
    max-width: 300px;
    background-color: black;
  }

  .cal-btn {
    width: 120px;
    font-size: 16px;
    background-color: blue;
  }
  .custom-calendar {
    background-color: #f0f0f0; /* Replace with your desired background color */
    width: 100%; /* Adjust the width as needed */
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Add any additional styles you want */
  }
  .container {
    flex-direction: column;
  }
  .graphs {
    padding: 12px;
    width: 170px;
    height: 120vh;
  }

  .graph-item {
    order: 2;
  }

  .history-docs {
    order: 1;
    flex: 1;
  }
  .doc-item {
    max-width: max-content;
  }
  .firstCard {
    max-width: min-content;
    /* width: 100px; */
  }
  .row-home {
    width: 400px;
  }
  .textCard {
    font-size: 3px;
    color: black;
    padding: 20px;
    margin: 24px;
  }
  .app {
    overflow-x: hidden;
  }
  .footer {
    position: fixed;
    margin-top: 16px;
  }
  .circleContainer {
    display: flex;
    flex-direction: column;
  }
  .prfCont{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* .circleItem{
 
  } */
}

.mainImage {
  width: 150px;
  height: 120px;
}

.main {
  background-color: var(white);
  /* height: 550px; */
  min-height: calc(100vh - 34px);
}

.homePage {
  /* display: flex; */
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid whitesmoke; */
  /* align-items: center; */
  justify-content: space-between;
  text-align: center;
  /* width: 80%; */
  /* padding: 24px 0; */
  background: transparent;
  opacity: 0.9;
  /* margin: 40px;
  box-shadow: 0 0 18px black; */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,34,34,1) 100%); */
  /* background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(0,0,0,1) 100%); */
}

.homePage-btn {
  font-size: 24px;
  color: #a91101;
  padding-inline: 16px;
  padding-block: 4px;
  background-color: white;
  margin-top: 40px;
  border: 3px solid #a91101;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
}
.homePage-btn:hover {
  background-color: #a91101;
  color: white;
}
.heading {
  text-shadow: white 1px 0px 10px;
  color: white;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;
}

.card {
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 57, 57);
  margin: 10px;
  color: var(--textColor);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2.5px 1px rgba(0, 0, 0, 0.3);
  height: 100px;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
  flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage as needed */
}

@media (max-width: 768px) {
  .card {
    height: 80px;
    font-size: 18px;
  }
  .stockCard {
    height: 80px;
    font-size: 18px;
  }
  .table {
    table-layout: fixed; /* Fix the table layout */
  }
  .table th,
  .table td {
    white-space: nowrap; /* Prevent text wrapping */
    max-width: 100px; /* Limit the maximum width of table cells */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
  }
  .authContainer {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    background-color: white;
    border-radius: 5;
  }
  .container {
    flex-direction: column;
  }
  .calendar-container {
    width: 90%;
    max-width: 300px;
    background-color: black;
  }

  .cal-btn {
    width: 120px;
    font-size: 16px;
    background-color: blue;
  }
  .card-docs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .firstCard {
    flex-direction: column; /* Change flex direction to stack elements vertically on smaller screens */
    align-items: center; /* Align items to the start of the container */
    justify-content: space-around; /* Adjust spacing between elements */
    padding-block: 20px; /* Add padding to the card on smaller screens */
    /* padding-inline: 100px; */
    margin-top: 24px;
    width: 10%;
  }
  .firstCol {
    padding: 24px;
    margin: 50px;
  }
  .heartImage {
    visibility: hidden;
  }
  .secondCard {
    flex-direction: column; /* Change flex direction to stack elements vertically on smaller screens */
    align-items: flex-start; /* Align items to the start of the container */
    justify-content: space-around; /* Adjust spacing between elements */
    padding: 20px; /* Add padding to the card on smaller screens */
    margin-block: 60px;
    width: auto;
    height: 100%;
    font-size: 3px;
  }

  .textCard {
    font-size: 24px;
    color: black;
  }
  .prfCont{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.stockCard {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 12px;
  height: 200px;
  background-color: rgb(255, 57, 57);
  margin: 0 20px;
  color: var(--textColor);
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2.5px 1px rgba(0, 0, 0, 0.3);
  height: 160px;
  border-radius: 6;
  border-width: 1;
  border-color: black;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
}
.card :p {
  font-size: 12px;
}
.card:hover {
  opacity: 0.7;
  /* background-color: var(--secondaryColor); */
}

.aboutContainer {
  flex: 1;
  padding: 0 18px;
  margin: 0 auto;
  text-align: center;
  /* background: transparent; */
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(195,34,34,1) 100%); */
  /* background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(0,0,0,1) 100%); */
}
.table {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 32px;
  overflow-x: auto; /* Add horizontal scrolling for small screens */
  box-shadow: 0 0 18px black;
}

.donated {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.bloodForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 24;
  border: 2px solid white;
  padding: 30px;
  box-shadow: 0 0 18px black;
  background-color: whitesmoke;
  border-radius: 5px;
  /* font-weight: bold; */
}

.formItem {
  display: flex;
  color: white;
}

.footer {
  left: 0;
  font-size: 18px;
  /* text-shadow: transparent 1px 2px; */

  bottom: 0;
  right: 0;
  text-align: center;
  align-items: center;
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-shadow: 2px 2px 5px red;
  /* padding: 24px; */
  /* background-image: linear-gradient(
    270deg,
    hsl(0deg 0% 100%) 0%,
    hsl(0deg 66% 66%) 29%,
    hsl(0deg 59% 50%) 43%,
    hsl(0deg 59% 50%) 57%,
    hsl(0deg 66% 66%) 71%,
    hsl(0deg 0% 100%) 100%
  ); */
  /* background-color: white; */
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(195, 34, 34, 1) 100%
  ); */
}

.prfCont {
  display: flex;

}

/*Profile Page*/
.profile-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 50vh; */
  padding-top: 50px;

  background-color: transparent;

  /* border: 1px solid black; */
}
.profile-page {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.profile-frame {
  background-color: #fff;
  border-radius: 30%;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  /* margin: 40px; */
  gap: 12px;
  font-size: 18px;
}
.profile-frame:hover {
  opacity: 0.7;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.profileBtn {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  gap: 20px;
}
.btn {
  padding: 5px;
  cursor: pointer;
  background: white;

  color: var(black);
  border: 1px black solid;

  font-size: 1.8rem;
  flex: 1;
}

.profile-det-line {
  display: flex;
  justify-content: space-between;
}

/* History Page Styles*/
.history-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 16px;
  text-align: center;
  color: whitesmoke;
  margin-inline: 20px;
  gap: 20px;
} */
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
  text-align: center;
  color: whitesmoke;
  margin-inline: 20px;
  gap: 20px;
}
.graphs {
  border: 3px solid black;
  height: 100vh;
  width: 80%;
  flex: 1;
  flex-direction: column;
  /* box-shadow: 5px 10px 10px white; */
  border-radius: 75px;
  background-color: white;
}
.graph-item {
  margin-top: 24px;
}
.history-docs {
  border: 1px solid black;
  flex: 1;
  flex-direction: column;
  box-shadow: 5px 10px 10px white;
  border-radius: 75px;
  width: 80%;
  padding-inline: 36px;
  margin-bottom: 24px;
  border: 3px solid black;
}

.docs-fields {
  margin: 16px;
}
.doc-item {
  /* border: 1px solid black; */
  border-radius: 1%;
  margin-top: 12px;
  background-color: transparent;
  color: white;
  font-size: 22px;
  padding-inline: 12px;
}
.doc-item:hover {
  background-color: whitesmoke;
  color: black;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  font-family: Arial, sans-serif;
  margin-top: 24px;
  gap: 16px;
  flex: 1;
  margin-bottom: 24px;
}
.cal-btn {
  border: 2px solid black;
  background-color: white;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
}
.cal-btn:hover {
  background-color: transparent;
  color: black;
  
}

.choose-hours {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 36px;
  background-color: white;
}
.hour-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hour-item {
  border: 1px solid black;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.hour-item:hover {
  border: 2px solid black;
  width: 100px;
  height: 50px;
  background-color: lightcyan;
  font-weight: bold;
}

.hour-item-btn {
  background-color: transparent;
  border: none;
}

/* .mainContainerCal{
  display: grid;
  grid-template-columns: 20% 50% 30% ;

} */
.exist-days {
  display: inline;
  background-color: transparent;
  font-family: Arial, sans-serif;
  margin-top: 24px;
  gap: 16px;
  align-items: center;
  max-width: max-content;
  /* border: 4px solid black; */
  text-align: center;
  max-width: max-content;
  padding-top: 24px;
  align-items: center;
  justify-content: center;
}
.forcast {
  font-family: Arial, sans-serif;

  border: 4px solid black;
}

.trash-card {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}
.trash-icon {
  color: black;
  border: none;
  border-radius: 25%;
}
.trash-icon:hover {
  color: red;
  background-color: white;
}

.card-docs {
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 57, 57);
  margin: 10px;
  color: var(--textColor);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2.5px 1px rgba(0, 0, 0, 0.3);
  height: 100px;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 5px 10px 10px rgba(242, 252, 255, 0.807);
  flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage as needed */
}

.row-home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: "#A91101";
  height: 80vh;
  width: 100%;
  margin-top: 8px;
  border-radius: 5px;
}
.firstCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: "#A91101";
  box-shadow: 0 0 5px white;
  width: 100%; /* Use percentage instead of fixed width */
  max-width: 1400px; /* Set a maximum width to avoid excessive stretching on large screens */

  background: radial-gradient(
    circle,
    rgba(255, 158, 158, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 5px;
}
.secondCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px white;
  width: 100%; /* Use percentage instead of fixed width */
  max-width: 1400px; /* Set a maximum width to avoid excessive stretching on large screens */
  opacity: 0.95;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 157, 157, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 5px;
}
.firstCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  flex-direction: column;
}

.textCard {
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
  margin-bottom: 24px;
}

.circleItem {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 40px;
  border-radius: 50%;
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 18px black;
}
.circleItem:hover {
  box-shadow: 0 0 18px black;

  background-color: #db2b39;
}

.circleContainer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
